.portfolio h1 {
    color: var(--cor-titulos);
    text-align: center;
    margin-top: 100px;
    font-size: 2.4rem;
}

.portfolio-conteudo {
    background: var(--cor-cards);
    padding: 15px;           /* DIMINUI FORTEMENTE O PADDING */
    border-radius: 10px;
    margin: 1em 0 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;                /* MENOS ESPAÇAMENTO ENTRE ITENS */
    text-align: center;
    max-width: 650px;        /* CARD MAIS ESTREITO */
    margin-inline: auto;     /* CENTRALIZA */
}

/* Título */
.portfolio-conteudo h3 {
    color: var(--cor-subtitulos);
    font-size: 1.2rem;       /* DIMINUÍ */
    margin: 0;
}

/* Descrição */
.portfolio-conteudo p {
    max-width: 500px;        /* MENOR */
    line-height: 1.3;        /* MAIS APERTADO */
    font-size: 0.9rem;       /* MENOR */
    margin: 0;
}

/* Botão */
.portfolio-conteudo a {
    background: var(--cor-botoes);
    color: white;
    padding: 6px 10px;       /* MENOR */
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.85rem;      /* MENOR */
    transition: 0.3s;

}

.portfolio-conteudo a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

/* Container das imagens lado a lado */
.portfolio-imagens {
    display: flex;
    justify-content: center;
    gap: 8px;                /* GAP MENOR */
    width: 100%;
}

/* Imagens pequenas */
.portfolio-imagens img {
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(180, 171, 171, 0.527);
    object-fit: cover;
}
