.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #111;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.menu li a:hover,
.menu li .active {
    color: #c29cff;
}

.sobre-mim {
    padding: 40px;
    color: #fff;
    text-align: center;
}

.sobre-mim h1 {
    text-align: center;
    color: var(--cor-titulos);
    font-size: 2.4rem;
    margin: 1em 0 0.5em 0;
}

.sobre-mim .subtitulo {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 600;
    max-width: 900px;
    margin: 20px auto 0 auto;
}

.conteudo-sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.texto-sobre {
    max-width: 380px;
    line-height: 1.6;
    text-align: justify;
}

.texto-sobre p {
    margin-bottom: 1.2rem;
}

.foto-sobre img {
    width: 420px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
}
